@charset "UTF-8";


* {
    height: auto;
}

body {
    background-image: linear-gradient(180deg, #2592A4, #107781, #2E6A7A, #162F42, #181E2B);
    color: hsl(293, 60%, 75%);
    font-size: 19px;
    font-family: Calibri;
}

h1 {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 1.5em;
}

h2 {
    background-color: #0A7E87;
    color: hsl(302, 55%, 50%);
    text-align: left;
    font-size: 1.2em;
}

p {
    text-align: justify;
    font-size: 1em;
}
