@charset "UTF-8";


body {
    background-color: hsl(189, 73%, 30%);
    color: #FF00F7;
    font-size: 19px;
    font-family: Calibri;
}

h1 {
    color: rgb(230, 230, 230);
    text-align: center;
    font-size: 1.5em;
}

h2 {
    background-color: #0A7E87;
    color: hsl(293, 96%, 75%);
    text-align: left;
    font-size: 1.2em;
}

p {
    text-align: justify;
    font-size: 1em;
}